<header class="main-header" id="main-header">

  <section class="main-header__text-container">
    <h1 class="blog-title">


      <a href="{{@site.url}}">{{@site.title}}</a>
    </h1>
    <p class="subtitle">
      {{@site.description}}
    </h3>
  </section>
      {{navigation}}

      {{> "edit/dropdown"}} {{!-- DELETE TO REMOVE DROPDOWN MENU --}}


</ul>
  </nav>

</section>
</header>
