{{!< default}}

{{>content-header}}

<main class="container content" id="content">

  <article class="page {{post_class}}">

    {{#post}}

      <header class="page__header">
        <h1 class="page__title mt0">{{title}}</h1>
      </header>

      <section class="page__content">
        {{content}}
      </section>

    {{/post}}
  </article>

</main>
