{{!< default}}

{{> content-header}}
<header class="tag-info container">
  <h1 class="tag-info__name">{{tag.name}}</h1>

  <p class="tag-info__description">
    {{tag.description}}</p>

  <br><br>

</header>

<main class="content">
    {{> "loop"}}
</main>
