<li class="dropdown">
      <p><a href="#">{{t "Menu"}}</a></p>
    <span class="dropdown-content">
<p><a href="  LINK URL HERE  "> Link name </a></p> {{!-- For each link --}}


</span>
</li>

{{!-- DO NOT add a tag to close the list, main-header.hbs already has it --}}
