{{!-- h-card is hidden by default and it's not styled --}}

<section class="h-card hidden">
<span class="p-name">YOUR NAME</span>
<span class="p-given-name">YOUR GIVEN NAME</span>
<span class="p-family-name">YOUR FAMILY NAME</span>
<span class="p-nickname">YOUR NICKNAME</span>
<span class="p-country-name">YOUR COUNTRY</span>
<a class="u-url" href="{{site.url}}">w</a>  {{!-- {{site.url}} will print your site base url. you can remove it and replace to any other url, if you'd like --}}
<a class="u-email" href="mailto:youremail@example.com">e</a>

</section>
